<h1>Leaderboard</h1>
<table class="sortable">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Skill</th>
    </tr>
    </thead>
    <% if !@players.blank? %>
    <% @players.each do |player| %>
    <tr>
        <td><%= player.rank %></td>
        <td><%= player.name %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= player.skill %></td>
    </tr>
    <% end %>
    <% end %>
</table>

